<!-- 
        ================================================== 
            Clients Section Start
        ================================================== -->
<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="subtitle text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".3s">Our
                    Happy Clinets</h2>
                <p class="subtitle-des text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".5s">Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit. Labore, error.</p>
                <div id="clients-logo" class="clients-logo-slider">
                    <img class="img-fluid mx-2" src="images/clients/logo-1.jpg" alt="">
                    <img class="img-fluid mx-2" src="images/clients/logo-2.jpg" alt="">
                    <img class="img-fluid mx-2" src="images/clients/logo-3.jpg" alt="">
                    <img class="img-fluid mx-2" src="images/clients/logo-4.jpg" alt="">
                    <img class="img-fluid mx-2" src="images/clients/logo-5.jpg" alt="">
                    <img class="img-fluid mx-2" src="images/clients/logo-1.jpg" alt="">
                    <img class="img-fluid mx-2" src="images/clients/logo-2.jpg" alt="">
                    <img class="img-fluid mx-2" src="images/clients/logo-3.jpg" alt="">
                    <img class="img-fluid mx-2" src="images/clients/logo-4.jpg" alt="">
                    <img class="img-fluid mx-2" src="images/clients/logo-5.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>